<div class="center jumbotron">

<h1>LittleBits Color Queue and background code exercise</h1>
<p></p>

<input type="button" name="Start" id="startColor" value="Start Color" class="btn btn-large"/>
<input type="button" name="Stop" id="stopColor" value="Stop Color" class="btn btn-large"/>

<div id="timer"></div>

</div>